@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: white;
}

.centered-container {
  display: flex;          /* Enables flexbox */
  width: 100%;            /* Full width */
  justify-content: center; /* Centers content horizontally */
  align-items: center;    /* Centers content vertically */
}

.padded-image {
  padding: 50px; /* Adjust the padding as needed */
}

.blue {
  color: blue;
  font-size: 20px;
  font-weight: bold;
}
.red {
  color: red;
  font-size: 20px;
  font-weight: bold;
}
.black {
  color: black;
  font-size: 20px;
}

.header {
  color: black;
  font-size: 30px;
  font-weight: bold;
}

.icon {
  height: 30px;
}
.weather-icon {
  height: 100px;
  padding-left: 10px;
}

.box {
  display: grid;
  place-items: center;
  width: 200px;
  padding: 10px;
}

